@page "/"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<PageTitle>Home</PageTitle>

<TokenTestingBlazor.Client.Components.LoginHeader>

<h1 class="test">Hello, world!</h1>

Welcome to your new app.


</TokenTestingBlazor.Client.Components.LoginHeader>